.div{
    width: 80%;
    height: 100%;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    border: 1px solid #00c;
    border-radius: 10px;
    background: white;
}
.form{
    height: 100%;
    //border: 1px solid #c90;
    //border-radius: 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form ul{
    list-style: none;
    padding: 0;
    margin: 0;  
}
.form li{
    display: block;
    width: 80%;
    padding: 5px;
    //border: 1px solid #DDDDDD;
    margin: 10px auto;
    border-radius: 3px;
}
.form li:last-child{
    border: none;
    margin-top: 40px;
    text-align: center;
}
.form li:first-child{
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0px;
    text-align: center;
}
.form li > p{
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.form .field{
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: blue;

}

.form button{
    width: 50%;
    background: blue;
    color: white;
    padding: 10px;
    font-size: 25px;

}