
<link rel="stylesheet" type="javascript" href="C:/Users/MP/Dropbox/Projects/GuessIt/GuessIt-WebClient/node_modules/nanobar/nanobar.js">
<div class="div">

	<form class="form">
		
			<ul>

				<li>
					<p name="title">
						(◕‿◕)
					</p>
				</li>

				<li>
				    <mat-form-field class="field">
				    	<input matInput #usernameInput type="text" name="username" placeholder="username" maxlength="50" (keyup)="usernameChanged(usernameInput.value)">
					</mat-form-field>
				</li>

				<li>
					<mat-form-field class="field">
				    	<input matInput #passwordInput type="password" name="password" placeholder="password" maxlength="50" (keyup)="passwordChanged(passwordInput.value)">
				    </mat-form-field>
				</li>
				
				<li>
					<button mat-raised-button name="login" (click)="login(usernameInput.value, passwordInput.value)" value="login">login</button>
				</li>
			
			</ul>
		
	</form>
	
	
</div>

