<div id="body">
<div id="main">
	<form>
		<div class="title">WHO KNOWS</div>
		
		<mat-form-field>
			<input matInput #username type="text" maxlength="30">
			<mat-placeholder>username</mat-placeholder>
		</mat-form-field>
		
		<mat-form-field>
			<input matInput #password type="password" maxlength="30">
			<mat-placeholder>password</mat-placeholder>
		</mat-form-field>
		
		<div class="error-field">
			{{ problem }}
		</div>
		
		<div class="submit-field">
			<button mat-button (click)="login(username.value, password.value)">
				login
			</button>
		</div>
	</form>
</div>
</div>
