<div class="div" style="background: green;border: 1px solid darkgreen">
	
	<div *ngIf="gameEnded == false" style="width: 100%; height: 100%;">
		<div id="topMenu" style="width: 100%; height: 10%; text-align: center; ">
			<div style="font-family: gabroila; font-size: 20px"> 
				score : {{score}}
			</div>
		</div>
		
		<div id="questionDiv" style="width: 100%; height: 80%; text-align: center; background: green; ">
			
			<div id="titleDiv" style="width: 100%; height: 15%; text-align: center; ">

				<div style="width: 100%; height: 100%; border: solid 1px darkgreen; direction: ltr; color: white; ">
					
					<div style="margin: 3% auto; font-family: koodak, gabroila; font-size: 20px">
						{{currentQuestion.title}}
					</div>

				</div>

			</div>
			
			<div id="contentDiv" style="width: 100%; height: 35%; text-align: center; "> 

					<div style=" direction: rtl; font-family: koodak; font-size: 30px; ">
						
						<mat-grid-list cols="4" rowHeight="155px" style="border: solid 1px darkgreen;">

							<mat-grid-tile *ngFor="let subtitle of currentQuestion.subtitle" colspan="1" rowspan="1">

								<p *ngIf="currentQuestion.subtitleType == 'text'" style="max-height: 95%; max-width: 95%; border-radius: 10px; font-size: 15px; ">{{subtitle}}</p>

								<img *ngIf="currentQuestion.subtitleType == 'image'" src="{{subtitle}}" style="max-height: 95%; max-width: 95%; border-radius: 10px; ">

								<audio *ngIf="currentQuestion.subtitleType == 'audio'" style="max-height: 95%; max-width: 95%; border-radius: 10px; ">
									<source src="{{subtitle}}" type="audio/mpeg">
								</audio>

								<video *ngIf="currentQuestion.subtitleType == 'video'" style="max-height: 95%; max-width: 95%; border-radius: 10px; " autoplay>
									<source src="{{subtitle}}" type="video/mp4">
								</video>

							</mat-grid-tile>

						</mat-grid-list>

					</div>
				
			</div>
			
			<div id="helpDiv" style="width: 100%; height: 15%; font-size: 20px; text-align: center; ">
				
				<mat-grid-list cols="{{currentQuestion.helps.length}}" rowHeight="65px" style="border: solid 1px darkgreen;">
					
					<mat-grid-tile *ngFor="let help of currentQuestion.helps" colspan="1" rowspan="1" >
						<ng-scrollbar>
							<p style=" font-family: Simonetta;">{{help}}
							</p>
						</ng-scrollbar>
					</mat-grid-tile>

				</mat-grid-list>

			</div>
			
			<div id="answeringDiv" style="width: 100%; height: 35%; text-align: center; ">
				<div style=" margin: auto; direction: rtl; font-family: koodak">
					
					<mat-grid-list cols="2" rowHeight="77px" style="border: solid 1px darkgreen;">

						<mat-grid-tile *ngFor="let choice of currentQuestion.choices" colspan="1" rowspan="1">
							
							<button mat-flat-button style="width: 100%; height: 100%; background: #33aa33; border-radius: 10px; color: white; font-size: 15px; font-family: cursive;" (click)="sendAnswer(choice)">
								<p *ngIf="currentQuestion.answerType == 'text'" style="max-height: 95%; max-width: 95%; border-radius: 10px; font-size: 15px; ">{{choice}}</p>

								<img *ngIf="currentQuestion.answerType == 'image'" src="{{choice}}" style="max-height: 95%; max-width: 95%; border-radius: 10px; ">

								<audio *ngIf="currentQuestion.answerType == 'audio'" style="max-height: 95%; max-width: 95%; border-radius: 10px; ">
									<source src="{{choice}}" type="audio/mpeg">
								</audio>

								<video *ngIf="currentQuestion.answerType == 'video'" style="max-height: 95%; max-width: 95%; border-radius: 10px; " autoplay>
									<source src="{{choice}}" type="video/mp4">
								</video>
							</button>

						</mat-grid-tile>

					</mat-grid-list>
					

				</div>

			</div>

		</div>

		<div id="bottomMenu" style="width: 100%; height: 10%; text-align: center; font-size: 20px; ">
			<div [innerHtml]="currentRound"></div> / 20
		</div>
	</div>

	<div *ngIf="gameEnded == true" style="width: 100%; height: 100%; ">
		game ended
	</div>

</div>