<div id="main">
    
    <div class="topMenu">
        
        <img src="http//" style="position:absolute; left:5px; top:5px; height:50px; width:50px; ">
        
        <div style="position:absolute; left:60px; top:0px; font-size:20px; height: 50px; width:150px; text-align:left; "> {{ user.username }} </div>
        
        <div style="position:absolute; left:60px; top:30px; font-size:15px; height: 50px; width:150px; text-align:left; "> 5 new messages </div>
        
        <div style="position:absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; font-size:35px; height: 50px; width:250px; text-align:center; "> Who Knows? </div>
        
        <mat-icon style="position:absolute; right:5px; top:5px; font-size:30px; text-align:right; height: 64px; width: 64px; line-height: 64px;"> menu </mat-icon>
        
    </div>

    <mat-list class="gamesList">
    
        <mat-list-item class="listItem" *ngFor="let game of wantedGames" (click)="openGame(game.name)">
        
            <div class="listItemDiv">
            
                <div style="float: left; " class="inListItem">
                    
                    <mat-icon style="width: 50px; height: 50px; font-size: 50px; line-height: 50px;">
                        {{
                            game.rules.type == 'singlePlayer' 	? 'person' 		:
                            game.rules.type == 'twoPlayer' 	    ? 'group' 		:
                            game.rules.type == 'multiPlayer' 	? 'group_add' 	:
                            game.rules.type == 'team'	 		? 'group_add' 	:
                            ''
                        }}
                    </mat-icon>
                    
                </div>
                
                <div style="float: left;" class="inListItem">
                    <div style="margin:auto;"> {{ game.name }} </div>
                </div>
                
                <div style="float: right; text-decoration: underline;" class="inListItem">
                    <div style="margin:auto;"> {{ game.timeToStart > 0 ? game.timeToStart + ' seconds' : 'started' }} </div>
                </div>
                
                <div style="float: right;" class="inListItem">
                    <div style="margin:auto;"> {{game.rules.rounds.tags }} </div>
                </div>
                
                <div style="float: right;" class="inListItem">
                    <div style="margin:auto;"> {{ game.questions.length }} </div>
                </div>

                <div style="float: right;" class="inListItem">
                    <div style="margin:auto;"> [duration] </div>
                </div>

                <div style="float: right;" class="inListItem">
                    <div style="margin:auto;"> [prize] </div>
                </div>
            
                <div style="float: right;" class="inListItem">
                    <div style="margin:auto;"> [level] </div>
                </div>
                    
                <div style="float: right;" class="inListItem">
                    <div style="margin:auto;"> [tags] </div>
                </div>
            
            </div>

        </mat-list-item>
    
    </mat-list>

</div>
