
<div class="div" style="background: #33b433;border: 1px solid green">
	

	<div style="width: 100%; height: auto; ">
		<nav mat-tab-nav-bar style="width: 100%;" >
		  <a mat-tab-link 
		     *ngFor="let link of navLinks"
		     [routerLink]="link.path"
		     routerLinkActive #rla="routerLinkActive"
		     [active]="rla.isActive"
		     style="width: 100%">
		    {{link.label}}
		  </a>
		</nav>
	</div>

	<router-outlet></router-outlet>
	



		<mat-grid-list cols="2" rowHeight="100px">
		
			<mat-grid-tile rowspan="1" colspan="2"  >
				<div style="width: 100%; height: 100%; text-align: center; border: 1px solid green; border-bottom-width: 2px; border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; " >
					<img src="http://mamadgram.tk/img/faceIcon.PNG">
				</div>
			</mat-grid-tile>
			

			<mat-grid-tile rowspan="5" colspan="1">
				
				<div style="width: 100%; height: 100%; text-align: center; ">
					
					<div style="text-align: center; width: 100%; font-family: fantasy; font-size: 25px; margin: 15px auto; ">
						Watch
					</div>
					<ng-scrollbar style="height: 60%; width: 90%;  border: 0px solid white; margin: auto; ">
						<mat-list>
						  <mat-list-item *ngFor="let game of onlineGames" 
						  		[style.background]="blue">
						     <button mat-raised-button style="text-align: center; width: 100%; " (click)="gameWatch(game.name)">{{ game.name }}
						     </button>
						  </mat-list-item>
						</mat-list>
					</ng-scrollbar>
				</div>


			</mat-grid-tile>
	

			<mat-grid-tile rowspan="5" colspan="1">
				<div style="width: 100%; height: 100%; text-align: center; ">
					
					<div style="text-align: center; width: 100%; font-family: fantasy; font-size: 25px; margin: 15px auto; ">
						Play
					</div>
					<ng-scrollbar style="height: 60%; width: 90%; border: 0px solid white; margin: auto;">
						<mat-list class="nextGamesList">
						  <mat-list-item *ngFor="let game of nextGames" 
						  		[style.background]="blue">
						     <button mat-raised-button style="text-align: center; width: 100%; background: #f90; " (click)="gameJoin(game.name)">
						     	<div style="width: 100%; height: 100%; text-align: center; ">
						     		{{ game.name }}
						     		<br>
						     		start : tonight at 20:15
						     		<br>
						     		category : 😃🐻🍔⚽🌇

						     	</div>

						     </button>
						  </mat-list-item>
						</mat-list>
					</ng-scrollbar>
				</div>
			</mat-grid-tile>
		

		</mat-grid-list>

</div>