<div class="div" style="background: #33b433;border: 1px solid green">
	
	<div style="width: 100%; height: 15%;  border: 0px solid black;">
		<div style="margin-top: 10%; width: 100%; text-align: center;">
			<label style="font-family: cursive ;font-size: 30px; color: white">Pick your interests</label>
		</div>
	</div>
	
	<ng-scrollbar style="height: 70%;">
		<mat-grid-list cols="1" rowHeight="100px">
		  <mat-grid-tile
	      *ngFor="let tile of tiles"
	      [colspan]="tile.cols"
	      [rowspan]="tile.rows"
	      >
	      
	      <div style="width: 100%; height: 100%; ">
<!--
	      	<div style="float: left;">
	      		<img src="{{tile.picture}}" style="width: 100px; height: 100px; margin-left: 0px; ">
	      	</div>
-->
					<button mat-flat-button name="{{tile.text}}" style="width: 100%; height: 100%; font-family: Eczar; font-size: 30px; background:#b7ffb7; " (click)="toggleInterest($event)">
							<label style="width: 100%; height: 100%; color: black; ">
								{{tile.text}}
							</label>
					</button>

	      </div>
		    
		  </mat-grid-tile>
		</mat-grid-list>
	</ng-scrollbar>

	<div style="width: 100%; height: 10%;">
		<button mat-flat-button style="width: 100%; height: 65%; background: #33aa33; border-radius: 0px 0px 10px 10px; color: white; font-size: 25px; font-family: cursive;" (click)=setInterests()>next</button>
	</div>
</div> 




<script type="text/javascript">

</script>