
<link rel="stylesheet" type="javascript" href="C:/Users/MP/Dropbox/Projects/GuessIt/GuessIt-WebClient/node_modules/nanobar/nanobar.js">
<div class="div">

	<form class="form">
		
			<ul>

				<li>
					<p name="title">
						(◕‿◕)
					</p>
				</li>
				
				<li>
					<mat-form-field class="field">
				    	<input matInput #codeInput type="code" name="code" placeholder="code" maxlength="50" (keyup)="codeChanged(codeInput.value)">
				    </mat-form-field>
				</li>
				
				<li>
					<button mat-raised-button name="login" (click)="login(usernameInput.value, codeInput.value)" value="login">login</button>
				</li>
			
			</ul>
		
	</form>
	
	
</div>

