div{
	height 					: 80vh;
	width 					: 80vw;
	margin-left 		: 10vw;
	margin-right 		: 10vw;
	margin-top 			: 10vh;
	margin-bottom 	: 10vh;
	min-height 			: 550px; // TODO: should use prsentage and viewport

}
