
<div class="div" id="loginDiv">

	<form class="form">

		<ul>

			<li>
				<p name="title">
					Singup
				</p>
			</li>

			<li>
				<mat-form-field class="field">
			    	<input matInput #usernameInput type="text" name="username" placeholder="username" maxlength="50" (keyup)="usernameChanged(usernameInput.value)">
			    <mat-hint [style.color]='usernameStatusColor' >{{usernameStatus}}</mat-hint>
			    </mat-form-field>
			</li>

			<li>
				<mat-form-field class="field">
					<input matInput #passwordInput type="text" name="password" placeholder="password" maxlength="50" (keyup)="passwordChanged(passwordInput.value)">
				<mat-hint [style.color]='usernameStatusColor' >{{passwordStatus}}</mat-hint>
			    </mat-form-field>

			</li>
			
			<li>
				<mat-form-field class="field">
			    	<input matInput #mobileNumberInput type="text" name="mobileNumber" placeholder="mobile number" maxlength="15" (keyup)="mobileNumberChanged(mobileNumberInput.value)">
			    <mat-hint [style.color]='usernameStatusColor' >{{mobileNumberStatus}}</mat-hint>
			    </mat-form-field>
			</li>
			
			<li>
				<button mat-raised-button name="signup" (click)="signup(usernameInput.value, passwordInput.value, mobileNumberInput.value)" value="signup">signup</button>
			</li>
		
		</ul>

	</form>
	
	
</div>


<script type="text/javascript">

	
</script>