<div id="body">
<div id="main">
	<form>
		<div class="title">sign up</div>
		
		<mat-form-field>
	    	<input matInput #username type="text" maxlength="30">
			<mat-placeholder>username</mat-placeholder>
	    </mat-form-field>

		<mat-form-field>
			<input matInput #password type="password" maxlength="30">
			<mat-placeholder>password</mat-placeholder>
	    </mat-form-field>
	    
		<mat-form-field>
			<input matInput #mobileNumber type="text" maxlength="15">
			<mat-placeholder>mobile number</mat-placeholder>
		</mat-form-field>
	
		<div class="error-field">
			{{ problem }}
		</div>
		
		<div class="agreement-field">
			<mat-checkbox [(ngModel)]="agree" name="agreeBox">
				<label style="color: rgb(11, 66, 99);">agree to the terms and conditions</label>
			</mat-checkbox>
		</div>
		
		<div class="submit-field">
			<button mat-button (click)="signup(username.value, password.value, mobileNumber.value)">
				signup
			</button>
			<button mat-button (click)="guest()">
				Play as a Guest
			</button>
		</div>
	</form>
</div>
</div>


