<div class="div" style="background: #33b433;border: 1px solid green; display: flex; flex-direction: column; text-align: center; align-items: center; ">
	
	<div style="flex: 20%; padding-top: 5vh; width: 100%; text-align: center; font-size: 35px; font-family: Consolas; ">
		New Game
	</div>
	
	<div style="flex: 15%; padding: 2%; width: 100%; text-align: center; font-size: 20px; font-family: monospace; ">
		
		<mat-form-field class="example-chip-list" style="width: 70%; ">
		  <mat-chip-list #chipList>
		    <mat-chip
		      *ngFor="let tag of tags"
		      [selectable]="selectable"
		      [removable]="removable"
		      (removed)="remove(tag)">
		      {{tag}}
		      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
		    </mat-chip>
		    <input
		      style="text-align: center; "
		      placeholder="Tags ... "
		      #tagInput
		      [formControl]="tagCtrl"
		      [matAutocomplete]="auto"
		      [matChipInputFor]="chipList"
		      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
		      [matChipInputAddOnBlur]="addOnBlur"
		      (matChipInputTokenEnd)="add($event)">
		  </mat-chip-list>
		  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
		    <mat-option *ngFor="let tag of filteredtags | async" [value]="tag">
		      {{tag}}
		    </mat-option>
		  </mat-autocomplete>
		</mat-form-field>
		
	</div>
	
	<div style="flex: 10%; padding: 2%; width: 100%; display: flex;">

        <div style="flex: 50%; "> 
        	<p-calendar [(ngModel)]="startDate" placeholder="Date"></p-calendar>
        </div>

        <div style="flex: 50%; "> 
        	<p-calendar [(ngModel)]="startTime" [timeOnly]="true" placeholder="Time"></p-calendar>
        </div>

	</div>

	<div style="flex: 10%; padding: 2%; width: 100%; display: flex;">

        <div style="flex: 50%;"> 
        	Duration(seconds): <br>
        	<input style="font-size: 20px; width: 50%; text-align: center;" type="number" [(ngModel)]="duration" value="100">
        </div>

        <div style="flex: 50%;"> 
        	Questions: <br>
        	<input style="font-size: 20px; width: 50%; text-align: center;" type="number" [(ngModel)]="questionCount" value="10">
        </div>
        
	</div>
	
	<div style="flex: 15%; padding: 2%; width: 100%;">
		<mat-form-field>
		  <mat-select [(value)]="gameType">
		    <mat-option value="singlePlayer">single player</mat-option>
		    <mat-option value="twoPlayer">two player</mat-option>
		    <mat-option value="twoTeam">two team</mat-option>
		    <mat-option value="multiplayer">multi player</mat-option>
		  </mat-select>
		</mat-form-field>
	</div>
	
	<div style="flex: 20%; padding: 2%; width: 100%; text-align: center; ">
		
		<button mat-raised-button style="font-size: 25px; padding: 7px; width: 50%; background: lightblue"
				(click)="gameNew(gameType, tags, questionCount, duration)">
			Make It
		</button>
		
	</div>
	
</div>
