<div class="div" style="background: #33b433;border: 1px solid green">
		
	<div style="width: 100%; text-align: center; font-size: 35px; font-family: Consolas; margin-top: 50px; ">
		New Game
	</div>
	
	<div style="width: 100%; text-align: center; font-size: 35px; font-family: monospace; margin-top: 50px; ">
		Categories:
		<br>
		😃🐻🍔⚽🌇
	</div>
	
	<div style="width: 100%; height: 20px; text-align: center; margin-top: 20px; font-size: 35px; font-family: monospace; ">
		Game Type:
		<br>
		solo - two player - team - public
	</div>
	<br>
	<div style="width: 100%; text-align: center; margin-top: 150px;">
		
		<button mat-raised-button style="font-size: 25px; padding: 7px; width: 50%; background: lightblue" (click)="gameNew('solo', ['movie'])">
			Create the game
		</button>
		
	</div>
	

	

</div>