/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.google.com/specimen/Eczar');
@import url('https://fonts.google.com/specimen/Bitter');
@import url('https://fonts.google.com/specimen/Work+Sans');
@import url('https://fonts.google.com/specimen/Lobster');
@import url('https://fonts.google.com/specimen/Lalezar');
@import url('https://fonts.google.com/specimen/Simonetta');

@font-face {
  font-family: 'koodak';
  src: url('assets/fonts/koodak.ttf');
}

@font-face {
  font-family: 'gabriola';
  src: url('assets/fonts/Gabriola.ttf');
}